<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="VikramSuite">
  <test  name="RegressionTest">
    <classes>
      <class name="vikramnewproject.testcases.Register"/>
      <class name="vikramnewproject.testcases.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
